<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Main Thing</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock content %}
        <footer>
            footer content
        </footer>
    </body>
</html>
